<div class="we-header">
    <div class="header-left">
        <img src="{{ assets('svg/emprial-logo.svg') }}" alt="empirical image" class="logo">
    </div>
    <div class="header-right">
        <div>
            <h2>Important Links</h2>
            <ul>
                <li>
                    <a href="#"> Getting started </a>
                </li>
                <li>
                    <a href="#"> Create a new issue </a>
                </li>
                <li>
                    <a href="#"> Contribute to the project </a>
                </li>
            </ul>
        </div>
    </div>
</div>